---
layout: default
---

<header class="intro">
	<div class="intro-body">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
				  <h1 class="brand-heading">{{site.title}}</h1>
				  <p class="intro-text">{{site.description}}</p>
					<a href="#about" class="btn btn-circle page-scroll">
						<i class="fa fa-angle-double-down animated"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</header>

<section id="about" class="container content-section">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<h2>About</h2>
			<p>“With great power comes great responsibility”. - Uncle Ben</p>
			<p>My life goal of being a super hero didn’t pan out. However, when I found out that there were people out in the world who dedicated their life to keeping the digital world a sane place I thought “ HECK YES”. Long story short, I became a Designer, battling for the users’ rights to access usable, beautiful, and well thought out products. Life is good when you get to protect people from frustrating and time wasting experiences.</p>

			<p>I may not be able to leap over buildings but I’ve got my own set of super powers:<br/>An intense drive to learn, super empathy (seriously people complain because I can’t take sides, I empathize with everyones point of view), a love of collaboration, and the power of research.</p>
			<p>My super hero tools:<br/>
			Research and Analysis, User Interviews, Task Flows, Wire Framing, Prototyping, Site Mapping, User Testing, and much more.</p>

			<p>Think we’d make good partners? Contact me at <a href="mailto:rebeccadianeharris@gmail.com">rebeccadianeharris@gmail.com</a></p>
		</div>
	</div>
</section>

<section id="work" class="container content-section text-center">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<h2>Work</h2>
			{% for work in site.work %}
				<div class="row projectRow vertical-align">
					{% assign loopindex = forloop.index | modulo: 2 %}
					{% if loopindex == 1 %}
					<div class="col-md-6 col-xs-12">
					{% else %}
					<div class="col-md-6 col-xs-12" style="order: 2">
					{% endif %}
						<a href="{{work.url}}"><img class="rounded" src="{{work.thumbnail}}"/></a>
					</div>
					<div class="col-md-6 col-xs-12">
						<p>{{work.description}}</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>
